body{
	background-color: #f2f2ff;
	font-size: 0;
}

#puzzle{
	width: 600px;
	height: 400px;
	margin: 40px;
	border: 4px solid black;
}

img {
	vertical-align: top;
	padding: 0;
	white-space: nowrap;
	
}