
body {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    background-color: darkblue;
}

#game-container {
    margin: auto;
    /* background-color: darkblue; */
    text-align: center;
}

#attempts {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    column-gap: 1px;
    row-gap: 1px;
    /* border: 1px solid black; */
    margin: auto;
    width: 100%;
    justify-content: center;
}

.letter {
    background-color: blue;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border-radius: 5px;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
    border-radius: 50%
}