.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1027px;
    max-height: 857px;
}

.item0 {
    grid-column: 1/5;
}

.item1 {
    grid-column: 1/5;
}

.item2 {
    grid-column: 1/ span 2;
}

.item4 {
    grid-column: 4;
    grid-row: 3 / span 2;
}
